<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">
	<link rel="stylesheet" href="dist/css/style_bot.css">
	<title>Bancobot</title>
</head>
<body>
	<div class="container">
		<div class="cx-bot-transcript"></div>
		<div class="cx-bot-input">
			<input type="text" id="cx-userbot-input" placeholder="Envía un mensaje">
			<button id="cx-userbot-sendmessage">Enviar</button>
		</div>
	</div>
	<script src="dist/js/script_bot.js"></script>
</body>
</html>